# fzf
alias preview="fzf --preview='bat --color=always --style=numbers --theme OneHalfDark {}' --preview-window=down"

#Change
alias chcolor="~/.scripts/colorscheme/colors.sh"
alias chfont="~/.scripts/fonts/fonts.sh"
alias chzsh="~/.scripts/zsh/changetheme.sh"

#Config
alias fontused="cat ~/.config/mytermux/fonts/used.log"
alias colorused="cat ~/.config/mytermux/colorscheme/used.log"
alias zshused="cat ~/.config/mytermux/zsh/used.log"

#System    
alias q="exit"
alias c="clear"
alias sd="cd /sdcard"
alias pf="cd $PREFIX"

#Package Manager
alias pacupg="pkg upgrade"
alias pacupd="pkg update"
alias pacupgupd="pkg update && pkg upgrade"

#Convert Video
alias convi="ffmpeg -i $1 -c:v libx264 -crf 25 $2"

#Ping    
alias pg="ping google.com"

#MyIP (Local) Pre
alias myip="bash ~/.scripts/system/ip.sh simcard"
alias myipwifi="bash ~/.scripts/system/ip.sh wifi"
alias myiphotspot="~/.scripts/system/ip.sh hotspot"
alias myipvpn="~/.scripts/system/ip.sh vpn"
alias myipall="~/.scripts/system/ip.sh all"

#Music    
alias n="ncmpcpp"
alias mkill="mpd --kill"
alias m="music"
alias ncmpcpp-compile="~/myTermux/compile/install/ncmpcpp-compile.sh"

#Color Toys
alias 256colors2="~/.scripts/toys/256colors2.pl"
alias bloks="~/.scripts/toys/bloks"
alias colortest="~/.scripts/toys/colortest"
alias colortest-slim="~/.scripts/toys/colortest-slim"
alias colorview="~/.scripts/toys/colorview"
alias colorbars="~/.scripts/toys/colorbars"
alias panes="~/.scripts/toys/panes"
alias pipes1="~/.scripts/toys/pipes1"
alias pipes2="~/.scripts/toys/pipes2"
alias pipes2-slim="~/.scripts/toys/pipes2-slim"
alias dna="~/.scripts/toys/dna"
alias ghost="~/.scripts/toys/ghost"
alias jfetch="~/.scripts/toys/jfetch"
alias pacman="~/.scripts/toys/pacman"
alias pipesx="~/.scripts/toys/pipesx"
alias rains="~/.scripts/toys/rains"
alias spacey="~/.scripts/toys/spacey"

#archives .deb
alias archives="cd /data/data/com.termux/cache/apt/archives/"

#Photos
alias ss="cd /sdcard/Pictures/Screenshots/"

#Movies
alias ms="cd /sdcard/Movies"

#Downloads
alias dl="cd /sdcard/Download"

#Documents
alias ds="cd /sdcard/Documents"

#Largest Files
alias largefile="du -h -x -s -- * | sort -r -h | head -20"

#System Information
#alias neo="bash ~/.config/neofetch/debug-logo.sh --randomsmall"
alias neo="neofetch"
alias neodebug="bash ~/.config/neofetch/debug-logo.sh $1"
alias disk="bash ~/.scripts/system/fetch.sh storage"
alias battery="bash ~/.scripts/system/fetch.sh battery"
alias ls="exa --icons"
alias la="exa --icons -lgha --group-directories-first"
alias lt="exa --icons --tree"
alias lta="exa --icons --tree -lgha"
alias bat="bat --theme OneHalfDark"
alias cat="bat --theme OneHalfDark -p $@"

#proot-distro
alias prot="cd $PREFIX/var/lib/proot-distro"
alias protlogin="proot-distro login $1"

#Magick
alias listfont="magick convert -list font | grep -iE 'font:.*'"

## Configuration

#mpd
alias mpdconf="nvim ~/.config/mpd/mpd.conf"
alias mpconf="nvim /data/data/com.termux/files/usr/etc/mpd.conf"

#ncmpcpp    
alias ncmconf="nvim ~/.config/ncmpcpp/config"

#neovim
alias nviminit="nvim ~/.config/nvim/init.lua"
alias nvimtheme="nvim ~/.config/nvim/lua/chadrc.lua"
alias nvimplug="nvim ~/.config/nvim/lua/pluginList.lua"
alias nvimmap="nvim ~/.config/nvim/lua/mappings.lua"
alias nvimpacnit="nvim ~/.config/nvim/lua/packerInit.lua"
alias nvimsin="nvim ~/.config/nvim/lua/core/xshin.lua"
alias nvimhighlight="nvim ~/.config/nvim/lua/hightlights.lua"
alias nvimcore="nvim ~/.config/nvim/lua/core/init.lua"

#zsh
alias zshconf="nvim ~/.zshrc"

#neofetch    
alias neoconf="nvim ~/.config/neofetch/config.conf"
alias rxconf="nvim ~/.local/bin/rxfetch"
alias neoscript="nvim ~/.config/neofetch/script.sh"
alias fetch="bash ~/.scripts/system/fetch.sh $@"
alias fetchconf="nvim ~/.scripts/system/fetch.sh"

alias awesomeconf="nvim ~/.config/awesomeshot/awesomeshot.conf"

#git
alias gitgraph="git log --all --decorate --oneline --graph"
alias gitupdate="git fetch && git pull"
alias gitstat="git status"
alias gitad="git add $@"
alias gitcom="git commit -m '$@'"

#Web Server (Require install LAMP on Termux) https://github.com/xshin404/lampTermux
alias apaconf="nvim $PREFIX/etc/apache2/httpd.conf"
alias phpmyadminconf="nvim $PREFIX/etc/phpmyadmin/config.inc.php"

#Refresh
alias refresh="source $HOME/.zshrc"

#Unsource
alias unsource="exec $SHELL -l"

#PID Login
alias loginconf="nvim ~/.scripts/login.sh"
alias exit="if [ -f ~/.scripts/pid/login ]; then rm ~/.scripts/pid/login; fi && exit"

#MyIP
alias myipconf="nvim ~/.scripts/ip.sh"

#termux-reload
alias reload="termux-reload-settings"

#termux-setting
alias termconf="nvim ~/.termux/termux.properties"

#termux-permission
alias termper="termux-setup-storage"

alias aliasconf="nvim ~/.aliases"
alias startconf="nvim ~/.autostart"

alias repocek="node ~/.scripts/js/repochecker.js"

alias schemeconf="nvim ~/.scripts/colorscheme/colors.sh"
alias fontsconf="nvim ~/.scripts/fonts/fonts.sh"
alias zshthemeconf="nvim ~/.scripts/zsh/changetheme.sh"

# Termux:API
alias scan="termux-media-scan"
alias open="termux-open"
